body
{
	background-image: url("https://cdn.hipwallpaper.com/i/75/53/0cFvKO.jpg");
	text-align: center;
}

.login_div1 , .login_div2
{
		background: blue;
		padding: 10px;
		float: none;
		border-radius: 15px;
		width: 30%;
		height: 170px;
		background-color: yellowgreen;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 3px;
	color: tomato;
	font-weight: bold;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
	background: white;
	border-radius: 10px;
	border-top: 10px solid royalblue;
	padding: 10px;
	float: none;
	text-align: left;
}
h1{
	color: darkgoldenrod;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
	font-family: 'Lora', 'Courier New', Courier, monospace, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color:whitesmoke;
}
#username{
	font-family: 'Yellowtail', cursive;
	color: turquoise;
}

input:hover{
	background-color: pink;
}
.login_div2:hover{
	border: 5px solid rgb(53, 80, 78);
	width: 30%;
}
.login_div1:hover{
	border: 5px solid rgb(53, 80, 72);
	width: 30%;
}
#number1,#number2
{
	color:darkred;
	font-weight: bold;
	width: 40%;
}
h4{
	color:lightskyblue;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, cursive;
	width: 100px;
}
h4:hover{
	text-decoration: underline;
}
#player1_score{
	color: yellow;
	font-size: 20px;
	

}
#player2_score{
	color: yellow;
	font-size: 20px;
	
}
